body {
	
    margin: 0;
    background-color: #090907;
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    color: #fff;
}

.brand-section {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}

/* 大標題 */
.category h1 {
    font-size: 48px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

/* 小字 – 初始狀態（藏在上面、透明） */
.item {
    opacity: 0;
    transform: translateY(-20px);   /* ← 從「上面」開始 */
    transition: 0.45s ease;
    font-size: 28px;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 2px;
    cursor: pointer;
}

/* 小字滑出（往下滑進來） */
.item.show {
    opacity: 0.4;                   /* 半透明 */
    transform: translateY(0);       /* 往下滑出 */
}

/* 小字 hover → 變深 */
.item:hover {
    opacity: 1;
}
/* 右下角小 LOGO */
.back-logo {
    position: fixed;
    right: 0px;    /* 靠右 */
    bottom: -2px; 
    z-index: 999;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.back-logo img {
     width: 96px;    /* 與圖中大小一致 */
    height: auto;    /* 你可以改大小 */
}

/* 滑到 LOGO 變清楚 */
.back-logo:hover {
    opacity: 1;
}