body {
    margin: 0;
    padding: 0;
    background-color: #020201;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* 左邊圖片區塊 */
.left {
    width: 40%;
    background-image: url("images/main-visual.png");
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

/* 右邊文字區塊 */
.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    padding-left: 200px;
}

.right a {
    color: white;
    font-size: 43px;
    letter-spacing: 6px;
    text-decoration: none;
	
}
.right a:hover {
    color: #b30000;  /* 或你想要的任何顏色 */
	transform: translateX(10px);
}