/* 全頁設定 */
/* 全頁設定 */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #090907;
    font-family: "Montserrat", "Noto Sans TC", Arial, sans-serif;
}

/* 背景圖 */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/introduce-bg.png"); /* 替換你的圖片名稱 */
    background-size: cover;
    background-position: center;
    filter: brightness(0.35);
    z-index: 1;
}

/* 內容文字 */
.content {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
}

.content h1 {
    font-size: 65px;
    letter-spacing: 6px;
    margin-bottom: 24px;
}

.content p {
    font-size: 29px;
    line-height: 54px;
    letter-spacing: 2px;
}


/* --- TS LOGO 精準位置 --- */
.logo-link {
    position: fixed;
    right: 0px;    /* 靠右 */
    bottom: -2px;   /* 靠下 */
    z-index: 9999;
}

.logo-link img {
    width: 96px;    /* 與圖中大小一致 */
    height: auto;
	opacity: 0.7;
    transition: opacity 0.3s ease;
}

.logo-link:hover img {
    opacity: 1;
}

/* --- Love Icon --- */
.love-icon {
    position: fixed;
    right: 300px;    /* ← 你要移位置改這裡 */
    bottom: 260px;   /* ← 你要移位置改這裡 */
    z-index: 9999;
}

.love-icon img {
    width: 442px;   /* 圖片大小可自行調整 */
    height: auto;
    position: absolute;
    right: 21px;
    bottom: 13px;
    transition: 0.3s;
}

.love-icon:hover img {
    transform: scale(1.05);
	 filter: brightness(60%);
}